h1 {
   display: flex;
    font-size: 3.25rem;
    font-family: 'Courier New', Courier, monospace;

  }
  
  .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }